<div id="Home" class="section-content" style="display: block;">
    <div class="row">
        <div class="column">
            <div class="title">
                <strong>Are you looking,</strong>
                <strong>FOR</strong> connecting<br>
                with your kinda
                <strong>people?</strong><br>
            </div>
            <div class="description">
                Find Like-Minded Individuals Who Are
                Currently Involved In The Things You Love
                And Make Meaningful Connections!
            </div>
            <div class="main-buttons">
                <div class="btn-main">
                    Get started!
                </div>
                <div class="btn-main">
                    I am already a memeber
                </div>
            </div>
        </div>
    </div>

</div>