<link rel="stylesheet" href="./src/css/community.css" />
<script src="./src/js/util/community.js"></script>

<div id="Communities" class="section-content">
    <!-- about -->
    <div class="communties-title">Looking for people who <br>share your interests?</div>

    <div class="search-container">

        <input type="text" id="search" class="search" placeholder="Search...">
        <select id="filter" class="filter"></select>
        <button id="search-btn" class="search-btn">Search</button>
    </div>
    <!-- <div class="selected-filters"></div> -->
    <div class="selected-filters-section">
        <ul id="selected-filters"></ul>
      </div>
      
    <div class="cards-container">
        <div class="card-column" id="card-column1">
        </div>
        <div class="card-column" id="card-column2">
        </div>
    </div>
</div>