h1 {
  margin: 20px 0;
  color: #fff;
}

.center {
  text-align: center;
}

li a {
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s ease-in;
  border-bottom: 1px solid transparent;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  margin-right: 1.5rem;
  display: inline-flex;
}

li a:hover {
  border-bottom: 1px solid var(--dark);
}

ul li ul li a {
  transition: all 0.5s ease;
}

.nav-wrapper {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  width: 90%;
  height: 80px;
  padding: 0 25px;
  z-index: 2;
}
#nav-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 400;
  background-color: #000000;
  border: none;
  padding: 5px 32px;
  margin-right: 1.5rem;
  margin: 0.5rem 0.5rem 0.5rem 3rem;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 60px;
}

.nav-tabs {
  display: flex;
  font-weight: 600;
  font-size: 16px;
  list-style: none;
}

.nav-tab:not(:last-child) {
  padding: 10px 25px;
  margin: 0;
}

.nav-tab:last-child {
  padding: 10px 0 0 25px;
}

.nav-tab,
.menu-btn {
  cursor: pointer;
}

.hidden {
  display: none;
}

@media screen and (max-width: 1000px) {
  .nav-container {
    position: fixed;
    display: none;
    overflow-y: auto;
    z-index: -1;
    top: 0;
    right: 0;
    width: 280px;
    height: 100%;
    background: #fff;
    box-shadow: -1px 0 2px rgba(0, 0, 0, 0.2);
  }

  .nav-tabs {
    flex-direction: column;
    align-items: flex-end;
    margin-top: 80px;
    width: 100%;
  }

  .nav-tab:not(:last-child) {
    padding: 20px 25px;
    margin: 0;
    border-right: unset;
    border-bottom: 1px solid #f5f5f5;
  }

  .nav-tab:last-child {
    padding: 15px 25px;
  }

  #nav-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 400;
    background-color: #000000;
    border: none;
    padding: 20px 32px;
    margin: 1rem 1.5rem 0 3rem;
  }

  .menu-btn {
    position: relative;
    display: block;
    margin: 0;
    width: 20px;
    height: 15px;
    cursor: pointer;
    z-index: 2;
    border-radius: 10px;
  }

  .menu-btn .menu {
    display: block;
    padding: auto;
    width: 25px;
    height: 2px;
    border-radius: 2px;
    background: #111;
  }

  .menu-btn .menu:nth-child(2) {
    margin-top: 4px;
    opacity: 1;
  }

  .menu-btn .menu:nth-child(3) {
    margin-top: 4px;
  }

  #menuToggle:checked + .menu-btn .menu {
    transition: transform 0.2s ease;
  }

  #menuToggle:checked + .menu-btn .menu:nth-child(1) {
    transform: translate3d(0, 6px, 0) rotate(45deg);
  }

  #menuToggle:checked + .menu-btn .menu:nth-child(2) {
    transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
    opacity: 0;
  }

  #menuToggle:checked + .menu-btn .menu:nth-child(3) {
    transform: translate3d(0, -6px, 0) rotate(-45deg);
  }

  #menuToggle:checked ~ .nav-container {
    z-index: 1;
    display: flex;
    animation: menu-slide-left 0.3s ease;
  }
  @keyframes menu-slide-left {
    0% {
      transform: translateX(200px);
    }
    to {
      transform: translateX(0);
    }
  }
}



#dark {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

#button-x1, #button-x2 {
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 0;
  right: 0;
  outline: none;
  border: none;
  border-top-right-radius: 0.5em;
  cursor: pointer;
  padding: 10px;
}
#button-x1 #x-icon, #button-x2 #x-icon {
  height: 20px;
  width: 20px;
  position: relative;
}
#button-x1 #x-icon:before, #button-x1 #x-icon:after, #button-x2 #x-icon:before, #button-x2 #x-icon:after {
  content: "";
  position: absolute;
  height: 0.3em;
  width: 100%;
  top: 50%;
  left: 0;
  transition: all 0.1s linear;
  background: #000000;
}
#button-x1 #x-icon:before, #button-x2 #x-icon:before {
  transform: rotate(45deg);
}
#button-x1 #x-icon:after, #button-x2 #x-icon:after {
  transform: rotate(-45deg);
}
#button-x1 #x-icon:hover:before, #button-x1 #x-icon:hover:after, #button-x2 #x-icon:hover:before, #button-x2 #x-icon:hover:after {
  background-color: rgb(0, 0, 0);
}

.form-class {
  position: relative;
  padding: 2em;
  display: block;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.452);
  background-color: rgb(255, 255, 255);
  width: 25em;
  text-align: center;
  box-sizing: border-box;
  border-radius: 0.5em;
  margin: 0 auto;
  
}
.form-class h2 {
  margin: 0;
  padding-bottom: 1em;
}
.form-class form {
  font-size: 1em;
  margin: 0 auto;
  display: inline-block;
  text-align: left;
}
.form-class form input {
  font-size: 1em;
  margin-bottom: 1em;
  outline-color: #000000;
  box-sizing: border-box;
}
.form-class form input[type^=text] {
  width: 100%;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 0.4em;
}
.form-class form input[type^=checkbox] {
  cursor: pointer;
  width: 30px;
}
.form-class form input[type^=submit] {
  float: right;
  margin-top: 1em;
  background-color: #000000;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 0.7em;
  color: rgb(255, 255, 255);
  transition: all 0.1s linear;
  cursor: pointer;
}
.form-class form input[type^=submit]:hover {
  background-color: rgb(131, 131, 131);
}

#Register, #Login {
  position: absolute;
  
  justify-content: center;
  margin-top: 40em;
  left: 0;
  right: 0;
  display: none;
}

.buttons {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-bottom: 0.05em;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.6);
}
.buttons button {
  box-sizing: border-box;
  width: 8em;
  padding: 1em;
  font-size: 1.3em;
  background-color: transparent;
  border: none;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  transition: all 0.1s linear;
}
.buttons button:hover {
  background-color: rgba(55, 55, 55, 0.8);
}